<a href="https://colab.research.google.com/github/Prabhveersingh/Sidhu-/blob/main/Alll_practical_Ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if and else

In [ ]:
A=21
B=18
if (B<=A):
 print("yes")
else:
 print("no")

yes

In [ ]:
A=21
B=18
if (B>=A):
 print("yes")
else:
 print("no")

no

Homework

Odd number printing

In [ ]:
for i in range (1,20):
 if (i%2!=0):
  print(i)

1
3
5
7
9
11
13
15
17
19

Print your name 5 times

In [ ]:
for i in range (5):
 print ("Prabhveer Singh")

Prabhveer Singh
Prabhveer Singh
Prabhveer Singh
Prabhveer Singh
Prabhveer Singh

Print 5 table using for loop

In [ ]:
for i in range (51):
 if i%5==0:
  print(i)

0
5
10
15
20
25
30
35
40
45
50

Print 5 different different fruits name

In [ ]:
for i in range (1):
 print(" mango\n","banana\n","guava\n","litchi\n","watermelon")

 mango
 banana
 guava
 litchi
 watermelon


Print numbers from 1 to 10 using a for loop.

In [ ]:
for i in range (1,10):
 print(i)

1
2
3
4
5
6
7
8
9

Print even numbers between 1 t0 20

In [ ]:
for x in range (1,20):
 if x%2==0:
  print(x)

2
4
6
8
10
12
14
16
18

Print counting 10 to 1 using while loop

In [ ]:
count=10
while(count>=1):
 print(count)
 count= count-1

10
9
8
7
6
5
4
3
2
1

Print the multiplication table of a given number

In [ ]:
a=5
while(a<=2550):
 print (a)
 a=a*5

5
25
125
625

Create a list of 5 fruits

In [ ]:
List=["mango","banana","guava", "litchi","watermelon"]
print(List)

['mango', 'banana', 'guava', 'litchi', 'watermelon']

Access 3rd from list

In [ ]:
print (List[3])

litchi

Add mango in list "Apple, banana"

In [ ]:
Fruits=["apple", "banana"]
Fruits.append("mango")
print(Fruits)

['apple', 'banana', 'mango']

Remove Apple

In [ ]:

Fruits=["apple", "banana"]
Fruits.remove("apple")
print(Fruits)

['banana']

Tuple

In [ ]:
Tuple=(70,3,75)
print(Tuple)

(70, 3, 75)

Access 2nd item in Tuple

In [ ]:

Tuple=(70,3,75)
print(Tuple[2])

75

Q. Can you change the value of tuple ? why or why not

Ans. We can't change the value of tuple because Tuple don't have function for changing the value